/**
 * Theme Name:         Nokian kylät
 * Theme URI:          https://bitbucket.org/wysiwygoy/nokiankylat-theme.git
 * Description:        Ulkoasuteema Nokian kylille.
 * Version:            1.0
 * Author:             Wysiwyg Oy / Jarno Antikainen
 * Author URI:         http://wysiwyg.fi/
 * Text Domain:        nokiankylat-theme
 * License:            MIT License
 * License URI:        http://opensource.org/licenses/MIT
 */
.news-meta {
  color: #9a9b9d;
  font-size: .8em;
}
